/*
NAV Layout CSS
*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
    background-color: #4056a1;
    font-family: 'Source Sans Pro', sans-serif;
    height: 120px;
    padding: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
  }

  #header {
    font-family: 'Bungee', sans-serif;
    text-shadow: 0px 7px 2px rgba(0,0,0,0.2);
    font-size: 1.5em;
  }
  
  #newTweet {
    display: flex;
    flex-direction: column;
  }
  
  .arrow {
    background-color: transparent;
    border-style: none;
  }